.clients {
  display: flex;
  flex-wrap: wrap;

  margin: -15px;
}

.clients .item {
  margin: 15px;
  width: calc((100% - 60px) / 2);

  @media screen and (min-width: 768px) {
    width: calc((100% - 90px) / 3);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 180px) / 6);
  }
}

.clients .link {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 90px;
  @include bordered($icon-color);

  transition: border $time $time-function;

  &:hover,
  &:focus {
    @include bordered($accent-color);
  }
}

.clients-icon {
  fill: $icon-color;

  transition: fill $time $time-function;

  .clients .link:hover &,
  .clients .link:focus & {
    fill: $accent-color;
  }
}

.logo1 {
  width: 44px;
  height: 49px;
}

.logo2 {
  width: 40px;
  height: 52px;
}

.logo3 {
  width: 41px;
  height: 43px;
}

.logo4 {
  width: 80px;
  height: 42px;
}

.logo5 {
  width: 59px;
  height: 47px;
}

.logo6 {
  width: 88px;
  height: 45px;
}
