footer {
  background-color: #2f303a;
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    text-align: initial;
    // justify-content: space-between;
  }
}

.join {
  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }

  @media screen and (min-width: 768px) {
    margin-left: 165px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 69px;
    width: 206px;
  }
}

.subscribe {
  margin-top: 60px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-grow: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    margin-left: auto;
    min-width: 570px;
    margin-top: 0;
  }
}

.adress-footer {
  margin-top: 20px;

  color: $white-color;

  font-style: normal;
  font-size: $main-font-size;
  line-height: 1.71;
}

.adress-footer a {
  display: inline-block;
  margin-top: 8px;
  color: $grey-color;

  @media screen and (min-width: 1200px) {
    margin-top: 9px;
  }
}

.join > .title,
.subscribe-label {
  display: block;
  margin-bottom: 20px;

  color: $white-color;

  font-weight: 700;
  font-size: $main-font-size;
  line-height: 1.14;
  text-transform: uppercase;
}

.subscribe-email {
  padding: 14px 16px;
  width: 100%;
  margin-bottom: 20px;
  background-color: inherit;
  font-family: $main-font;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: $grey-color;

  @media screen and (min-width: 768px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }

  @include bordered(rgba(255, 255, 255, 0.3));
  box-shadow: $button-shadow;

  &::placeholder {
    line-height: 1.25;
    color: $grey-color;
  }
}

.subscribe-button {
  @extend %button;
  display: inline-flex;
  align-items: center;
}

.icon-subscribe {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

.copyright {
  padding-top: 18px;
  padding-bottom: 21px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.4);

  font-size: 12px;
  line-height: 2;
  text-align: center;
}
