footer {
  background-color: #2f303a;
}

footer > .flex-container {
  padding-top: 45px;
  padding-bottom: 28px;
  align-items: baseline;
}

.join {
  margin-left: 69px;
  width: 206px;
}

.subscribe {
  margin-left: auto;
  min-width: 570px;
  height: 86px;
}

.adress-footer {
  margin-top: 8px;

  color: $white-color;

  font-style: normal;
  font-size: $main-font-size;
  line-height: 1.71;
}

.adress-footer a {
  display: inline-block;
  margin-top: 9px;

  color: $grey-color;
}

.join > .title,
.subscribe-label {
  display: block;
  margin-bottom: 20px;

  color: $white-color;

  font-weight: 700;
  font-size: $main-font-size;
  line-height: 1.14;
  text-transform: uppercase;
}

.subscribe-email {
  padding: 14px 16px;
  min-width: 358px;
  margin-right: 12px;

  background-color: inherit;

  @include bordered(rgba(255, 255, 255, 0.3));
  box-shadow: $button-shadow;

  font-family: $main-font;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: $grey-color;

  &::placeholder {
    line-height: 1.25;
    color: $grey-color;
  }
}

.subscribe-button {
  @extend %button;
  display: inline-flex;
  align-items: center;
}

.icon-subscribe {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

.copyright {
  padding-top: 18px;
  padding-bottom: 21px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.4);

  font-size: 12px;
  line-height: 2;
  text-align: center;
}
