.hero {
  background-color: $icon-color;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/hero.jpg);

  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;

  &-title {
    margin-bottom: 30px;
    color: $white-color;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}

.modal-button {
  @extend %button;
}
